# When making your own .env file, add a file named '.env'
# In your terminal enter : echo ".env" >> .gitignore
# this is to prevent your password from appearing on the github! 
# books_db is just an example. We will decide together what our db name will be 
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=enter_your_MYSQL_password_here 
MYSQL_DB=books_db